<% content_for :title, "Criar conta — Pajem" %>

<h1>Criar conta</h1>

<%= form_with model: @user, url: "/signup" do |f| %>
  <% if @user.errors.any? %>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div>
    <%= f.label :name, "Nome" %>
    <%= f.text_field :name, autocomplete: "name" %>
  </div>

  <div>
    <%= f.label :email, "E-mail" %>
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div>
    <%= f.label :password, "Senha" %>
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div>
    <%= f.label :password_confirmation, "Confirmar senha" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <%= f.submit "Criar conta" %>
<% end %>

<p>Já tem uma conta? <%= link_to "Faça login", login_path %></p>
